*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}
body{
    background-image: url(images/Review2.jpg);
    background-size: cover;
    position: relative;
    
   }

header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;
    opacity: 1;
  }
  
  .logo {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  
  .logo span {
    color: #f4d58d;
    font-size: 49px;
  }
  .logo p {
    font-size: 30px;
    font-weight: bold;
    color: #6a040f;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 10px;
  }
  
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 1em;
    background-color: rgb(21, 21, 21);
    opacity: 80%;
  }
  
  nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
  }
  
  nav ul li {
    display: inline-block;
    margin: 10px 20px;
  }
  
  a, button {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: whitesmoke;
    cursor: pointer;
  }
  
  button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: rgb(47, 47, 238);
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  
  nav a:hover {
    color: #8e0a0a;
    background:white;
    padding: 10px 20px;
  }
  
  button:hover {
    background-color: #0088a9cc;
  }
  
  
  nav ul li:hover .sub-class-1 {
    display: block;
  }
  
a{
    text-decoration: none;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    box-sizing: border-box;
    box-shadow: #131212;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}
.testimonial-heading span{
    font-size: 1.3rem;
    color: #fdf0d5;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:90%;
    background-color: #463f3a;
    opacity: .9;


}
.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 


::selection{
    color: rgb(235, 211, 211);
    background-color: #131212;
}